.container {
    position: relative;
}
.container #bg {
    position: absolute;
    opacity: 0.4;
}
.crop {
    width: var(--width);
    height: var(--height);
    top: var(--top);
    left: var(--left);
}

.hide {
    display: none;
}
.error {
    color: red;
}
.status {
    color: lightgreen;
}
.crop_bg {
    position: absolute;
    opacity: 0.2;
    
    max-width: 100%;
    max-height: 100%;
}
.crop_border {
    /* Tạo viền cho clip-path bên dưới bằng background
    clip-path trừ border sẽ được set trong js */
    position: absolute;
    background-color:gray;
    clip-path: polygon(-100px -100px, 1600px -100px, 1600px 1600px, -100px 1600px);
    
    max-width: 100%;
    max-height: 100%;
}
.crop_fg {
    position: absolute;
    clip-path: polygon(0px 0px, 1500px 0px, 1500px 1500px, 0px 1500px);
    opacity: 1.0;
    max-width: 100%;
    max-height: 100%;
}

/* 
Tính chất của từng ảnh và văn bản hiện trong gallery
*/
.gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    gap: 10px 20px;
}
.gallery .element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    max-width: 23vw;
}
.gallery .element img:hover {
    box-shadow: 0 0 0 10px lightgray;
}
.gallery .element a {
    /* Taken from Google Image's css */
    color: #5f6368;
    text-overflow: ellipsis;
    font-family: Roboto,Arial,sans-serif;
    cursor: pointer;
    flex-grow: 1;
    overflow: hidden;
}